## These don't work:
# example.com:443
# https://example.com:443
# https://example.com
##
:443, example.com # CHANGEME
route {
  forward_proxy {
    basic_auth username password # CHANGEME
    hide_ip
    hide_via
    probe_resistance secret.com
  }
  # file_server { root {env.HOME}/Downloads }
  respond "A drunk man will find his way home, but a drunk bird may get lost forever."
}
